.menu {
    width: 944px;
    height: 88px;
    border-bottom: 2px solid #828282;
    position: fixed;
    z-index: 5;
    background-color: white;

    &-list {
        display: flex;
        justify-content: space-between;
        padding-top: 33px;

        li {
            display: inline-block;
            list-style: none;

            &:last-child {
                margin-right: 0;
            }

            a {
                font-size: 18px;
                font-weight: 600;
                padding: 10px;
            }
        }
    }

    &-burger {
        display: none;
        width: 40px;
        height: 40px;
        margin-left: auto;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        margin-right: 15px;

        div {
            width: 100%;
            height: 4px;
            background-color: #828282;
            border-radius: 15px;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.info {
    width: 100%;
    height: 188.5px;
    padding-top: 88px;

    &-select {
        padding-top: 13px;
        display: flex;
        width: 78px;
        margin-left: auto;

        li {
            display: inline-block;
            list-style: none;

            a {
                font-size: 16px;
                font-weight: 600;
                padding: 5px;
            }
        }

        div {
            width: 2px;
            height: 16px;
            background-color: black;
            margin-top: 3px;
        }
    }


    &-description {
        padding-top: 6px;
        width: 100%;
        display: flex;

        h1 {
            font-size: 44px;
            line-height: 59px;
            font-weight: 700;
        }

        p {
            margin-left: auto;
            line-height: 22px;
            font-size: 18px;
            margin-top: 90px;
            font-weight: 600;
        }
    }
}

.swip {
    height: 400px;
    margin-bottom: 104px;

    .image-slider__image {
        text-align: center;
        margin: 0 auto;

        img {
            max-width: 944px;
        }
    }
}

.swiper-pagination {
    top: -80px;
    position: relative;
}

.swiper-button-next {
    left: calc(72% + 150px) !important;
    top: -49%;
    position: relative;
    color: gray;
}

.swiper-button-prev {
    left: calc(27% - 160px) !important;
    top: -55%;
    position: relative;
    color: gray;
}