@media (max-width: 1500px) {
  .swiper-button-next {
    left: calc(72% + 250px) !important;
  }
  .swiper-button-prev {
    left: calc(28% - 280px) !important;
  }
}
@media (max-width: 964px) {
  .menu {
    width: 100%;
    position: static;
    justify-content: space-between;
  }
  .info {
    padding-top: 18px;
  }
}
@media (max-width: 991px) {
  .image-slider__image img {
    width: 90%;
  }
  .swiper-pagination {
    top: 0;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  .About-wrapp {
    padding-bottom: 60px;
  }
  .about-title {
    padding-top: 60px;
  }
  .swip {
    margin-bottom: 40px;
    height: auto;
    margin-top: 20px;
  }
  .info {
    width: 90%;
    margin: 0 auto;
  }
  .menu-list {
    max-width: 90%;
  }
  .skills {
    margin-bottom: 60px;
  }
  .portfolio-screen {
    margin: 44px auto;
    max-width: 90%;
    display: block;
    height: auto;
  }
}
@media (max-height: 886px) {
  .skills-sub {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .menu {
    height: 0px;
    border: 0;
  }
  .menu-burger {
    display: block;
    position: fixed;
    top: 35px;
    z-index: 15;
    left: 85%;
  }
  .menu-list {
    display: none;
  }
  .menu-mobile {
    position: fixed;
    transform: translate(100%, 0);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--BG-color);
    z-index: 14;
    transition: transform 0.2s ease 0s;
    padding: 0 30px 30px 0;
    overflow: auto;
  }
  .menu li {
    margin: 0 0 50px 0;
  }
  .menu li a {
    padding: 10px;
    font-size: 35px;
  }
  .menu-list {
    padding-top: 150px;
    display: block;
    max-width: 210px;
    margin-left: 20px;
  }
  ._active {
    transform: translate(30%, 0);
    -webkit-transform: translate(30%, 0);
    -ms-transform: translate(30%, 0);
  }
  ._activeBtn div {
    transform: rotate(45deg);
    position: absolute;
    transition: all 0.2s ease-in;
  }
  ._activeBtn div:nth-child(2) {
    display: none;
  }
  ._activeBtn div:last-child {
    transform: rotate(-45deg);
  }
  ._select {
    display: flex !important;
    position: fixed;
    z-index: 16;
    top: 93%;
    left: 270px;
    height: 0;
    padding-top: 0;
    transition: 0.3s ease;
  }
  .info {
    width: 90%;
    margin: 0 auto;
    height: auto;
    padding-top: 0;
  }
  .info-select {
    display: none;
  }
  .info-select button {
    font-size: 27px;
  }
  .info-select div {
    padding: 1px;
    margin-top: 8px;
    height: 20px;
  }
  .info-description {
    display: block;
    padding: 0;
    position: relative;
    padding-top: 25px;
  }
  .info-description p {
    margin-top: 29px;
    font-size: 23px;
  }
  .skills-sub {
    padding-bottom: 50px;
  }
  .skills-lang {
    width: 139px;
    height: auto;
  }
  .skills-rating img {
    width: 22px;
    height: auto;
  }
  .contacts {
    margin-bottom: 60px;
  }
}
@media (max-width: 360px) {
  #upbutton {
    right: 10px;
  }
}
@media (max-width: 320px) {
  .menu-list {
    margin-left: 0 !important;
  }
  .menu-list li a {
    font-size: 30px;
  }
}
@media (max-height: 668px) {
  .menu-mobile li {
    margin-bottom: 20px;
  }
  ._select {
    top: 470px;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --BG-color:#202124;
    --T-color: #f6f6f8;
    --T-color2: #828282;
    --BG-color2:#202226;
    --BG-color3:#1b1b1d;
    --BG-colorPreload: #2e2e2e;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --BG-color: white;
    --T-color: #626262;
    --BG-color2: #F6F6F6;
    --T-color2: #828282;
    --BG-colorPreload:#F6F6F6;
  }
}/*# sourceMappingURL=adapt.css.map */